.container {
    padding: 0 8px;
}

.formContainer {
    border: 2px solid rgb(93, 216, 93);
    margin: 8px 32px 8px 8px;
}

.selectsContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.submitContainer {
    background-color: #ebebeb;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}