.container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 16px 0 24px;
    -webkit-box-shadow: 0px 2px 2px -1px rgba(173, 173, 173, 0.55);
    -moz-box-shadow: 0px 2px 2px -1px rgba(173, 173, 173, 0.55);
    box-shadow: 0px 2px 2px -1px rgba(173, 173, 173, 0.55);
}

.container svg {
    cursor: pointer;
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightContainer svg {
    margin-right: 24px;
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userContainer img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.userContainer span {
    font-size: 14px;
    color: #616161;
    margin: 0 4px;
}

.userContainer svg {
    margin-right: 0;
}