.container {
    background-color: #2b333a;
}

.topContainer {
    border-bottom: 2px solid rgb(47, 57, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.restContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restContainer svg {
    margin: 21px 0;
    cursor: pointer;
}