.container {
    display: flex;
    width: 160px;
    flex-direction: column;
    padding: 12px 12px 16px 12px;
    position: relative;
    z-index: 999;
}

.title {
    font-size: 14px;
    margin-bottom: 4px;
}

.selectContainer {
    border: 1px solid #cecece;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
}

.optionContainer {
    display: flex;
    width: 160px;
    flex-direction: column;
    position: absolute;
    top: 70px;
    background-color: #fff;
    height: auto;
    border: 1px solid #dedede;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.optionContainer span {
    padding: 6px 8px;
    border-bottom: 1px solid #dedede;
}

.optionContainer span:hover {
    background-color: #dedede;
    cursor: pointer;
}